*{
    margin:0;
    padding: 0;
    border:0;
    border-radius: 0;
}
#div-parent{
    height: 400px;
    width: 400px;
    background-image: url(/Images/download\ \(2\).jpeg);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-radius: 10px;
}
h1{
    text-align: center;
    color : red;
    padding: 50px 0 ;
    margin: 50px auto auto;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 10px solid rgba(36, 5, 139, 0.365);


}